PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS collections (
            id INTEGER PRIMARY KEY,
            name TEXT UNIQUE
        );
INSERT INTO collections VALUES(1,'2018 Inferno');
INSERT INTO collections VALUES(2,'2018 Nuke');
INSERT INTO collections VALUES(3,'2021 Dust 2');
CREATE TABLE IF NOT EXISTS skins (
            id INTEGER PRIMARY KEY,
            name TEXT,
            min_float REAL,
            max_float REAL,
            stattrak BOOLEAN,
            collection_id INTEGER,
            quality TEXT,
            FOREIGN KEY (collection_id) REFERENCES collections (id)
        );
INSERT INTO skins VALUES(1,'SG 553 | Integrale',0.0,1.0,0,1,'classified_bg');
INSERT INTO skins VALUES(2,'Dual Berettas | Twin Turbo',0.0,1.0,0,1,'classified_bg');
INSERT INTO skins VALUES(3,'P250 | Vino Primo',0.0,1.0,0,1,'restricted_bg');
CREATE TABLE IF NOT EXISTS skin_conditions (
            id INTEGER PRIMARY KEY,
            condition TEXT,
            price REAL,
            skin_id INTEGER,
            timestamp DATETIME,
            FOREIGN KEY (skin_id) REFERENCES skins (id)
        );
INSERT INTO skin_conditions VALUES(1,'Factory New',NULL,1,NULL);
INSERT INTO skin_conditions VALUES(2,'Minimal Wear',NULL,1,NULL);
INSERT INTO skin_conditions VALUES(3,'Field-Tested',NULL,1,NULL);
COMMIT;
